.joinSignIn{
    display: flex;
    justify-content: center;
    align-content: center;
   align-items: center;
   padding-left: 55em;
   button{
       .custBtn();

   }
  
    a{
        text-decoration: none;
        flex-wrap: nowrap;
        font-size: 20px;
        color: white;
          
    }
}//ends joinSignIn


.choose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 4px solid @accent-color;
    padding:4%; 
    padding-top: 8em; 
    background-color: @background-color;    
    
    h1{
      padding-bottom: .7em;
      color:white;
      font-size: 8rem;

    }

    h2{
        color: @accent-color;
    }
    .choices{
        display: flex;
        justify-content: space-between;
        align-items: space-between;
    }//ends choices
    .needassist{
        display: flexbox;
        justify-content: space-between;
       padding:4%;
        width:80%;
        color: whitesmoke;
        border: 1px solid whitesmoke;
        border-radius: 20%;

      
    }//ends need assist
    .assist{
        display: flexbox;
        align-items: center;
       padding:4%;
        width:80%;
        color: whitesmoke;
        border: 1px solid whitesmoke;
        border-radius: 20%;
        

    }//ends assist

    button{
        .custBtn();
    }
   
}//ends choose
