
.mainSect{
    background-color: @background-color;
    //  filter:blur(10px);
    // -webkit-filter: blur(7px);
    // z-index: -800;

   
   h2{
        color:white;
        display: flex;
        justify-content: center;
        padding-top: 1em;
    }
   

    .partOne{
        display:flex;
        justify-content: space-around;
    
    }//ends partOne

    .partTwo{
        display:flex;
        justify-content: space-around;
     
    }//ends partTwo

    .howItWorks{
        h2{
            font-size: 10rem;
        }

    }
}// ends mainSect
.container{
    background-image: url(..//images/heroImg.jpg);
    // filter:blur(10px);
    // -webkit-filter: blur(7px);
    // z-index: -800;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
   


}