.container{
    background-image: url(../images/heroImg.jpg);   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @media @smallComputers{
      background-image: none;  
      background-color:@background-color;
    }
    @media @tablet {
     
    }
    @media @phone{
        
    }
   
   



.mainSect{
    // background-color: @background-color;
    //  filter:blur(10px);
    // -webkit-filter: blur(7px);
    // z-index: -800;

   
  
   

    .howItWorks{
        h2{
        color:white;
        // display: flex;
        // justify-content: row;
        padding-top: 1em;
        font-size: 14rem;
        text-align: center;
        // background-image: url(../images/heroImg.jpg);
        // background-size: cover;

        @media @smallComputers{
            color: @background-color;
            font-size: 10rem;
        }
        @media @tablet {
         font-size: 8rem;
        }
        @media @phone{
           font-size: 4rem;
        }
    }//ends h2
    .topHowItWorks{
        display: flex;
        justify-content: space-between;
        .signUpBox{
            width:47%;
            background-image: url(../images/signUp.jpg);
            border-radius: 9%;
            background-size: cover;
            padding:2%;
            
            @media @smallComputers{
                background-image: none;
            }
            @media @tablet {
             
            }
            @media @phone{
                
            }

            h3{
                text-align: center;
                font-size: 5rem;
                color: @accent-color;
                @media @smallComputers{
                    color: white;
                }
                @media @tablet {
                 font-size: 3rem;
                }
                @media @phone{
                    
                }
                    
                }
            }
            p{
                color: rbg(63, 57, 87);
                background-color: rgba(145, 111, 111, 0.3);
                border-radius: 9%;
                padding:2%;
            }
        


        }//ends signUpBox

        .planTrip{
            width:47%;
            background-image: url(../images/PlanTripimg.jpg);
          
            border-radius: 9%;
            background-size: cover;
            padding:2%;

            @media @smallComputers{
           background-image: none;
            }
            @media @tablet {
             background-image: none;
            }
            @media @phone{
               background-image: none; 
            }

            h3{
                text-align: center;
                font-size: 5rem;
                color: @accent-color;
                @media @smallComputers{
                    color: white;
                    
                }
                @media @tablet {
                 font-size: 3rem;
                }
                @media @phone{
                    
                }
                
            }
            p{
                color: rbg(63, 57, 87);
                background-color: rgba(145, 111, 111, 0.3);
                border-radius: 9%;
                padding:2%;
              
            }


        }//ends planTrip
    }//ends topHowItWorks

    .bottomHowItWorks{
        display: flex;
        justify-content: space-between;
        padding-top: 2em;
        padding-bottom: 2em;
        
        .chooseAssist{
            width:47%;
            background-image: url(../images/searchPerson.jpg);
          
            border-radius: 9%;
            background-size: cover;
            padding:2%;
            @media @smallComputers{
                background-image: none;
            }
            @media @tablet {
             
            }
            @media @phone{
                
            }

            h3{
                text-align: center;
                font-size: 5rem;
                color: @accent-color;
                @media @smallComputers{
                    color: white;
                    
                }
                @media @tablet {
                 font-size: 3rem;
                }
                @media @phone{
                    
                }
                
            }
            p{
                color: rbg(63, 57, 87);
                background-color: rgba(145, 111, 111, 0.3);
                border-radius: 9%;
                padding:2%;
              
            }


        }//ends chooseAssist

        .relax{
           
                width:47%;
                background-image: url(../images/relax.jpg);
              
                border-radius: 9%;
                background-size: cover;
                padding:2%;
                @media @smallComputers{
                    background-image: none;
                }
                @media @tablet {
                 
                }
                @media @phone{
                    
                }
    
                h3{
                    text-align: center;
                    font-size: 5rem;
                    color: @accent-color;
                    @media @smallComputers{
                        color: white;
                        
                    }
                    @media @tablet {
                     font-size: 3rem;
                    }
                    @media @phone{
                        
                    }
                    
                }
                p{
                    color: rbg(63, 57, 87);
                    background-color: rgba(145, 111, 111, 0.3);
                    border-radius: 9%;
                    padding:2%;
                    @media @smallComputers{
                        
                    }
                    @media @tablet {
                     
                    }
                    @media @phone{
                        
                    }
                }
                
            
    
    
            
        }//ends relax

    } //ends bottomHowItWorks


    
}// ends mainSect
}// ends container

