.navbar{
    top:0;
    min-width: 82%; 
    position: sticky;
    overflow: hidden;
    z-index: 100;
    nav{
      display: flex;
      justify-content: space-around;
        background-color: @background-color;
    

       
        a{
   
        text-decoration: none;
        font-size: 20px;
        color:whitesmoke;
        padding-left:3%;
        padding-bottom: 1em;
                
        }//ends a


    
}//ends nav
}
.joinSignIn{
    display: flex;
    justify-content: center;
    align-content: center;
   align-items: center;
   button{
       .custBtn();

   }
  
    a{
        text-decoration: none;
        flex-wrap: nowrap;
        font-size: 20px;
        color:white;
          
    }
}//ends joinSignIn

.navbarB{
    display: flex;
    justify-content: space-around;
    

    nav{
       
        a{
        text-decoration: none;
        flex-wrap: nowrap;
        font-size: 30px;
        color:white;
        padding-left:1em;
        
        }//ends a


    
}//ends nav
}

