.navbar{
    top:0;
    min-width: 82%; 
    position: sticky;
    overflow: hidden;
   
    nav{
      display: flex;
      justify-content: space-around;
        background-color: @background-color;
    

       
        a{
   
        text-decoration: none;
        font-size: 20px;
        color:whitesmoke;
        padding-left:3%;
        padding-bottom: 1em;
                @media @phone{
                  font-size: 18px;
                }
        }//ends a


    
}//ends nav
}


.navbarB{
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    border-top: 2px dashed whitesmoke;
    padding-bottom: 2em;
    

    nav{
       
        a{
        text-decoration: none;
        flex-wrap: nowrap;
        font-size: 30px;
        color:white;
        padding-left:1em;
        @media @phone{
          font-size: 12px;
        }
        
        }//ends a


    
}//ends nav
}

