//colors:

@accent-color: #F62E03;
@background-color: #3F3957;
@text-color: #F6F5FA; 


//font styles:

@heading: 'Shrikhand',;
@hText: 'Odibee Sans',; 
@pText: 'Oxanium', ;

//views
@tablet: ~"(max-width: 800px)";
@phone: ~"(max-width: 500px)";