//colors:

@accent-color: #D82748;
@background-color: rgba(63, 57, 87, 0.8);
@text-color: #F6F5FA; 


//font styles:

@heading: 'Shrikhand', cursive;
@hText: 'Odibee Sans', cursive; 
@pText: 'Oxanium', cursive ;

//views
@smallComputers: ~"(max-width: 1300px)";
@tablet: ~"(max-width: 800px)";
@phone: ~"(max-width: 500px)";